<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About Us</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/fuckmylife_war_exploded/resources/styles/header.css">
    <link rel="stylesheet" href="/fuckmylife_war_exploded/resources/styles/mini-logo-main.css">
    <style>
        .about-content {
            text-align: left;
            margin: 50px auto;
            width: 60%;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<!---------------------------------------------------------PAGE CONTENT-------------------------------------------------->
<div class="page-content">
    <div class="about-content">
        <p>Welcome to our store! We are dedicated to providing you with the best products and services.
        Shipping Information
        We are proud to offer worldwide shipping. No matter where you are located, you can enjoy our products. Our shipping process is efficient and reliable, ensuring that your order reaches you in a timely manner.
        Return Policy
        Due to the nature of our products, we do not accept returns. We believe in the quality of our products and are confident that you will be satisfied with your purchase. However, if you receive a damaged or defective item, please contact our customer service team within 7 days of receiving your order. We will be happy to assist you with a replacement or refund in such cases.</p>
    </div>
    <div class="container">
    </div>
</div>
<!---------------------------------------------------------FOOTER-------------------------------------------------->
<footer>
    <a href="#">INSTAGRAM</a>
    <span>/</span>
    <a href="#">TELEGRAM</a>
    <span>/</span>
    <a href="#">TWITTER</a>
    <span>/</span>
    <a href="#">YOUTUBE</a>
    <span></span>
</footer>
<!---------------------------------------------------------SCRIPTS-------------------------------------------------->
<script src="/fuckmylife_war_exploded/resources/js/menu.js"></script>
</body>
</html>
