<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About Us</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/fuckmylife_war_exploded/resources/styles/header.css">
    <link rel="stylesheet" href="/fuckmylife_war_exploded/resources/styles/mini-logo-main.css">
    <style>
        .about-content {
            text-align: center;
            margin: 50px auto;
            width: 80%;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<!---------------------------------------------------------PAGE CONTENT-------------------------------------------------->
<div class="page-content">
    <div class="about-content">
        <p>sssmanageroffical@sss.com</p>
    </div>
</div>
<!---------------------------------------------------------FOOTER-------------------------------------------------->
<footer>
    <a href="#">INSTAGRAM</a>
    <span>/</span>
    <a href="#">TELEGRAM</a>
    <span>/</span>
    <a href="#">TWITTER</a>
    <span>/</span>
    <a href="#">YOUTUBE</a>
    <span></span>
</footer>
<!---------------------------------------------------------SCRIPTS-------------------------------------------------->
<script src="/fuckmylife_war_exploded/resources/js/menu.js"></script>
</body>
</html>
