<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/fuckmylife_war_exploded/resources/styles/admin-panel.css">
</head>
<body>
<div class="admin-container">
    <div th:replace="fragments/admin-header :: header"></div>
    <main class="admin-main">
        <section class="admin-section">
            <h1>Manage Products</h1>
            <div class="product-form">
                <form th:action="@{/admin/editProduct}" th:object="${product}" method="post">
                    <div class="form-group">
                        <input type="hidden" id = "id" th:field="*{id}">
                        <label for="name">Name:</label>
                        <input type="text" id="name" th:field="*{name}" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <input type="text" id="description" th:field="*{description}" required>
                    </div>
                    <div class="form-group">
                        <label for="overview">Overview:</label>
                        <input type="text" id="overview" th:field="*{overview}" required>
                    </div>
                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="number" id="price" th:field="*{price}" required>
                    </div>
                    <div class="form-group form-group-row">
                        <input type="hidden" id = "sizeId" th:field="*{size.id}">
                        <label for="xs">XS:</label>
                        <input type="number" id="xs" th:field="*{size.xs}" min="0" placeholder="Quantity" required>
                        <label for="s">S:</label>
                        <input type="number" id="s" th:field="*{size.s}" min="0" placeholder="Quantity" required>
                        <label for="m">M:</label>
                        <input type="number" id="m" th:field="*{size.m}" min="0" placeholder="Quantity" required>
                        <label for="l">L:</label>
                        <input type="number" id="l" th:field="*{size.l}" min="0" placeholder="Quantity" required>
                        <label for="xl">XL:</label>
                        <input type="number" id="xl" th:field="*{size.xl}" min="0" placeholder="Quantity" required>
                        <label for="xxl">XXL:</label>
                        <input type="number" id="xxl" th:field="*{size.xxl}" min="0" placeholder="Quantity" required>
                        <label for="xxxl">XXXL:</label>
                        <input type="number" id="xxxl" th:field="*{size.xxxl}" min="0" placeholder="Quantity" required>
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="imageId" th:field="*{image.id}">
                        <label for="image1">Image 1:</label>
                        <input type="text" th:field="*{image.image1}" id="image1" required>
                    </div>
                    <div class="form-group">
                        <label for="image2">Image 2:</label>
                        <input type="text" th:field="*{image.image2}" id="image2">
                    </div>
                    <div class="form-group">
                        <label for="image3">Image 3:</label>
                        <input type="text" th:field="*{image.image3}" id="image3">
                    </div>
                    <div class="form-group">
                        <label for="image4">Image 4:</label>
                        <input type="text" th:field="*{image.image4}" id="image4">
                    </div>
                    <button type="submit" class="btn">Edit Product</button>
                </form>
            </div>
        </section>
    </main>
</div>
</body>
</html>
